{% extends 'base.html.twig' %}

{% block title %}Hello SeasonController!{% endblock %}

{% block body %}
    <div class="media">

        <div class="media-body">

            <h1 class="mt-0">{{ program.title }}</h1>
            <h2 class="mt-0">Saison {{ season.Number }}</h2>

        </div>

    </div>

    <div class="accordion accordion-flush" id="accordionFlushExample">
    {% for episode in seasonEpisodes %}
        {% set i = ( i | default(0) ) + 1 %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ i }}" aria-expanded="false" aria-controls="flush-collapse{{ i }}">
                Episode {{ i }}: {{ episode.title }}
            </button>
          </h2>
          <div id="flush-collapse{{ i }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                {{ episode.synopsis }} <a href="{{ path("program_show_season_show_episode_show", { programSlug: program.slug, seasonId: season.id, slug: episode.slug}) }}">En savoir plus...</a>
            </div>
          </div>
        </div>
    {% else %}
        <div>
            il n'y a actuellement aucun episode d'enregistré dans la base de donnée
        </div>    
    {% endfor %}
    <a href="{{ path('program_index') }}">

        Retour à la liste des programmes

    </a>
{% endblock %}
